<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ini adalah kelas <%= kelas.name %></h1>
    <h1>maaf kelas saat ini sedang masa perbaikan</h1>
</body>
</html>