<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= JSON.stringify(userProfile) %>
    <%= JSON.stringify(courseDetails) %>
    <h1>selamat datang <%= userProfile.UserProfile.name ? userProfile.UserProfile.name : userProfile.email%></h1>
    <div>
        <p>Aktivitas Belajar</p>
        <div>
            <% courseDetails.Courses.forEach(e => { %>
             <p><%= e.name %></p>
            <% }) %>
        </div>
    </div>
</body>
</html>